@import './App.css';
@import './styles/base.css';
@import './styles/components.css';

/*Header prompt navigation*/
.prompt-animation {
    color: white;
    animation: color 1s infinite alternate ease-in-out forwards;
}
@keyframes color {
    0% {color: white;}
    25% {color: red;}
    50% {color: yellow;}
    75% {color:chartreuse;}
    100% {color:deeppink}
}

/*Home slider animation*/
.homeSliderStyles {
    max-width: 1200px;
    width: 100vw;
    height: 380px;
    margin: 0 auto;
}

/* Left and right arrow style in Home component*/
.arrowStyles {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 45px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    z-index: 1;
    visibility: hidden;
}

.group:hover .arrowStyles {
    visibility: visible;
}


@media screen and (max-width: 768px) {
    .mobileNavbar {
        display: block;
    }
    .desktopNavbar {
        display: none;
    }
}


@media screen and (max-width: 470px) {
    .logoPosition {
        margin-left: auto;
        margin-right: auto;
    }
    .headerIcons {
        width: 100%;
        justify-content: space-around;
        gap: 1px;
    }

}
.dashboard-list li:hover {
    text-decoration: underline;
    color: rgb(233, 157, 15);
}

/* Account settings */
.main-container {
    width: 35em;
}
.account-settings-edit {
    padding: 0.25rem 1.5rem;
    border: 1px solid #a5a3a3;
    border-radius: 1rem;
    transition: all 0.3s;
}
.account-settings-edit:hover {
    color: #ec7709;
    border-color: #ec7709;
}
.account-settings-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
}
